{% extends "header.html" %}
{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse navbar-light bg-light" id="head-navbar">
  <ul class="nav navbar-nav nav-pills">
    <li>
        <a  class="nav-link rounded-pill" href="{{ url_for("evaluation",subject=subject_url) }}" id="evaluation"><span style="padding: 10px"> Evaluation </span><span class="sr-only">(current)</span></a>
    </li>
    <li>
        <a  class="nav-link rounded-pill" href="{{ url_for("marks",subject=subject_url) }}" id="marks"><span style="padding: 10px"> Marks </span><span class="sr-only">(current)</span></a>
    </li>
  </ul>
</nav>
    <style>
    .table_class  {
        border-collapse: separate;
        {#border-spacing: 10px 0;#}
    }
    td  {
        padding: 10px 10px;
    }

    </style>
    {{ table|safe }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        document.getElementById("marks").classList.add("active");
        $(document).ready(function() {
            $('#marks-table').DataTable( {
                "pagingType": "full_numbers",
                "pageLength": 10,
                lengthMenu: [10, 20, 30, 40, 50],
                language: {
                    searchPlaceholder: "Search with Name, USN or Marks",
                },
                // initComplete: function() {
                //     $(this.api().cell(':last', {order:'original'}).node()).css('background-color', '#ffd699');
                // }
            } );
        } );
    </script>
{% endblock %}